[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scattertext = "*"
jieba = "*"
spacey = "*"
empath = "*"
astropy = "*"
flashtext = "*"
gensim = "*"
umap-learn = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.9"
